html {
  text-align: center;
}

body {
  width: 500px;
  max-width: 100%;
  margin: auto;
}

.input {
  margin-bottom: 40px;
  border-top: solid 1px #000;
}

.input input {
  border: solid 1px #000;
  text-align: right;
}
.input input[disabled] {
  border-color: #aaa;
  background: #eee;
  color: #aaa;
}

table {
  margin: auto;
}

th,
td
{
  padding-left: 20px;
  text-align: left;
}
[class^=val] {
  text-align: right;
}

tr *:first-child {
  padding-left: 0;
}

.subhead td{
  font-weight: bold;
  padding-bottom: 5px;
}


.divider td {
  font-size: 10px;
}
.divider + .divider td {
  border-top: solid 1px #000;
}

tr.outgoing td {
  cursor: pointer;
}
tr.subtotal {
  display: none;
  overflow: hidden;
}
tr.subtotal td {
  color: #aaa;
}

tr.return td {
  border-top: solid 1px blue;
  border-bottom: solid 1px blue;
}

h3 {
  margin-bottom: 1em;
}

h3 span {
  display: block;
  font-weight: normal;
  font-size: 90%;
}




#settings {
  margin-top: 2em;
}
#property {
  text-align: left;
}
#url {
  /*width: 100%;*/
}

.hidden {
  display: none;
}

.notes {
  display: none;
}
